append variables
  -
    var features= [
      {
        icon:`1.png`,
        title:'Be visible to "like',
        alt: 'Dashboard',
        details: 'A pseudo-Latin text used in web design, layout, and printing in place of things to emphasise layouts for previewing layouts and visual mockups.'
      },
      {
        icon:`2.png`,
        title:'Monitor Online',
        alt: 'Comment',
        details: 'A pseudo-Latin text used in web design, layout, and printing in place of things to emphasise layouts for previewing layouts and visual mockups.'
      },
      {
        icon:`3.png`,
        title:'More Income',
        alt: 'Tailored',
        details: 'A pseudo-Latin text used in web design, layout, and printing in place of things to emphasise layouts for previewing layouts and visual mockups.'
      }
    ];
    var texting= [
      {
        title: 'Improve the stability of your application',
        alt: 'text',
        details: 'Bugsnag monitors application stability, so you can make data-driven decisions on whether you should be building new features, or fixing bugs.'
      }
    ]
mixin FeatureItem(item) 
  .col-md-6
    .w-100.h-100.features-items.shadow
      .p-5
        img(src=`${CWD}assets/img/icons/${item.icon}` alt=`${item.alt}` style={width:'95px',height:'70px'})
        h3.pt-3.lh-base #{item.title}
        p.mb-0 #{item.details}
mixin Card(text)
  .col-md-6
    .h-100.features-items.text-center.text-md-start
      .p-0.p-md-5.pb-3
        h2.pt-3 #{text.title}
        p.mb-0 #{text.details}
        
mixin Services
  +Section#service
    .row.mb-4.mt-0
      +Card(texting[0]) 
      +FeatureItem(features[0]) 
    .row.mb-4
      +FeatureItem(features[1]) 
      +FeatureItem(features[2])


